* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff fixed no-repeat 50% 50% ; /* efecto parallax es uno que hace que el fondo se ve como profundo si metes mas vainas se nota el efecto*/
	background-size:cover; 
	
}

.fondo {
	background-image: url('../img/fondo.jpeg');
}

header {
	width: 100%;
	overflow: hidden;
	background: peru;
	margin-bottom: 20px;
}


.wrapper {
	width: 90%;
	max-width: 1000px; /* el wrapper es la distancia que hay entre el logo y las opciones del header*/
	margin: auto;
	overflow: hidden;
}
header .logo {
	font-size: 50px;
	line-height: 100px;
	float: left;
}

header nav {
	float: right;
	line-height: 100px;
}

header nav a {
	display: inline-block;
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	line-height: normal;
	font-size: 20px;
	font-weight: bold;

}


header nav a:hover{ /* esto es el que le da el cambio del color cuando lo pasas por las opciones del header*/
background: #DF013A;
border-radius: 50px;

}


/*-------------------de aqui pa abajo son las opciones de los lados de la cara de la vaina 3d----------*/
.salones {

	height: 500px;
	width: 500px;
	margin: auto;
	-webkit-perspective:700;
}


.salonesmenu {
	height: 80%;
	width: 80%;
	position: relative;
	transform-style: preserve-3d;
	transition: 1.5s;
	box-shadow: 0 0 0 2px peru,
				0 15px 50px;
	
}

.salonesmenu:hover{
		transform: rotateY(180deg);

}

.lado {
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	position: absolute;

}


.atras {
	width: 100%;
	height: 200px;
	background-color: peru;
	transform: rotateY(180deg);
}



img{
	width: 100%;
	height: 100%;
}

.wrapper{
    display: flex;
}